<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Актеры</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

    <div th:replace="template :: header"></div>
</head>
<body>
<table bgcolor="#deb887" border="1" cellpadding="4" cellspacing="4">
  <tbody>
  <tr>
    <td>ID</td>
    <td>Логин</td>
    <td>Имя</td>
    <td>День рождения</td>
    <td>Удалить</td>
    <!--        <td th:if="${requester.role == T(com.nafanya.theatre.enums.Role).ADMIN}"></td>-->
  </tr>
  <tr th:each="user : ${actors}">
    <td th:text="${user.id}"/>
    <td th:text="${user.login}"/>
    <td th:text="${user.name}"/>
    <td th:text="${user.birthday}"/>
    <td>
      <form action="/manager/actors" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" th:value="${user.id}" name="actorId">Тык</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>