<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Заявки менеджеров</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

    <div th:replace="template :: header"></div>
</head>
<body>

<table bgcolor="#deb887" border="1" cellpadding="4" cellspacing="4">
    <tbody>
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>Имя</td>
        <td>ID театра</td>
        <td>Принять</td>
    </tr>
    <tr th:each="user : ${applicationList}">
        <td th:text="${user.id}"/>
        <td th:text="${user.login}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.theatre.id}"/>
        <td>
            <form th:action="@{/admin/applications}" method="post">
                <div><label><input type="hidden" name="managerId" th:value="${user.id}"/></label></div>
                <div><label>
                    <input type="radio" name="accept" th:value="true"/>Принять<Br>
                    <input type="radio" name="accept" th:value="false"/>Отказать<Br>
                </label></div>
                <div><input type="submit" value="Тык"/></div>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!--<ul th:each="user: ${applicationList}">-->
<!--    <li th:text="${user.login}"/>-->
<!--    <li th:text="${user.name}"/>-->
<!--    <li th:text="${user.birthday}"/>-->

</ul>
</body>
</html>