<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Бронирование билетов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

    <div th:replace="template :: header"></div>
</head>
<style>
    html,body {
        margin:0;
    }
    .formWrapper{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    .registration{
        width: 400px;
        height: 320px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
    }
    .btnWrapper{
        display: flex;
        justify-content: end;
        width: 100%;
    }
    body{
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgb(183, 225, 227) 0%, rgb(189, 200, 202) 100%);
    }
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient(#d9fffb, #70f4e9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<body>
<!--<h1 style="color: white; font-family: 'Rubik Mono One', sans-serif" th:text="${name}"/>-->
    <div class="formWrapper">
        <form action="/" method="GET" class="registration">
            <div class="form-group">
                <div>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" class="form-control"     id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <!--            <input type="email" class="form-control"     id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="btnWrapper">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </form>
    </div>

</body>
</html>