<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список театров</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

    <div th:replace="template :: header"></div>

</head>
<body>
<div>
    <form id="register_ticket">
        <input type="text" name="name" placeholder="Название" id="register_name"/>
        <input type="text" name="city" placeholder="Город"  id="register_city"/>
        <input type="text" name="address" placeholder="Адрес"  id="register_address"/>
        <button type="submit" id='send'>Принять</button>
    </form>
</div>
<table bgcolor="#deb887" border="1" cellpadding="4" cellspacing="4">
    <tbody>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Город</td>
        <td>Адрес</td>
        <td>Я менеджер</td>
    </tr>
    <tr th:each="theatre : ${theatres}">
        <td th:text="${theatre.id}"/>
        <td>
            <a th:text="${theatre.name}" th:href="@{'/theatres/' + ${theatre.id}}"/>
        </td>
        <td th:text="${theatre.city}"/>
        <td th:text="${theatre.address}"/>
        <td>
            <form action="/manager/application" method="post">
                <div><button type="submit" th:value="${theatre.id}" name="theatreId">Тык</button></div>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!--<ul th:each="theatre: ${theatres}">-->
<!--    <li th:text="${theatre.id}"/>-->
<!--    <li th:text="${theatre.name}"/>-->
<!--    <li th:text="${theatre.city}"/>-->
<!--    <li th:text="${theatre.address}"/>-->
<!--</ul>-->

<script>
    const send_button = document.getElementById("send")

    send_button.onclick = (e) => {
        e.preventDefault()
        const name = document.getElementById('register_name').value
        const city = document.getElementById('register_city').value
        const address = document.getElementById('register_address').value

        const url = 'http://localhost:8080/theatres'

        fetch(url, {
            method: 'POST',
            body: JSON.stringify({name, city, address})
        })
            .then((res) => {
                console.log(res);
                switch(res.status){
                    case 409:
                        alert('ALREADY CONTAINS!');
                        break;
                    case 200:
                        alert('OK!!!');
                        location.reload();
                        break;
                    default:
                        alert('UNACCEPTED ERROR!')
                        break;
                }
            })
            .catch((err) => {
                console.log(err);
                alert('Error:(')
            })

        console.log({name, city, address});
    }
</script>
</body>
</html>