<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Театр</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

  <div th:replace="template :: header"></div>

</head>
<body>
<div>
  <h1>
    <span style="color: aquamarine; font-weight: bold" th:text="${theatre.name + ' ' + theatre.city + ' ' + theatre.address}">
                Театр)
    </span>
  </h1>
  <h2>Актеры:</h2>
  <div th:each="actor : ${theatre.actors}">
    <h3 th:text="${actor.name}">Ебланчик если чё</h3>
  </div>
  <h2>Менеджеры:</h2>
  <div th:each="manager : ${theatre.managers}">
    <h3 th:text="${manager.name}">Ебланчик если ЧЁ</h3>
  </div>
</div>
</body>
</html>