<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

    <div th:replace="template :: header"></div>
</head>
<body>
<table bgcolor="#deb887" border="1" cellpadding="4" cellspacing="4">
    <tbody>
    <tr>
        <td>ID</td>
        <td>Логин</td>
        <td>Имя</td>
        <td>День рождения</td>
        <td th:if="${requester.role == T(com.nafanya.theatre.enums.Role).MANAGER}">Мой актер</td>
<!--        <td th:if="${requester.role == T(com.nafanya.theatre.enums.Role).ADMIN}"></td>-->
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"/>
        <td th:text="${user.login}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.birthday}"/>
        <td>
            <form action="/manager/actors" method="post">
                <div th:if="${user.theatre == null}"><button th:if="${user.role == T(com.nafanya.theatre.enums.Role).USER}" type="submit" th:value="${user.id}" name="actorId">Тык</button></div>
                <div th:unless="${user.theatre == null}">Уже работник театра <a th:href="@{'/theatres/' + ${user.theatre.id}}" th:text="${user.theatre.name}"></a></div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>