<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" ></script>

    <div th:replace="template :: header"></div>

</head>
<body>
<h1>Привет, <span th:text="${name}">хуй пойми кто</span>.</h1>
<div th:switch="${role}">
<!--МЕНЕДЖЕР-->
    <div th:case="${T(com.nafanya.theatre.enums.Role).MANAGER}">
        <h2>ЗДАРОВА ЕПТА МАНАГЕР)</h2>
        <h3>
            Ваш театр: <span style="color: aquamarine">
                <a th:text="${theatre.name + ' ' + theatre.city + ' ' + theatre.address}" th:href="@{'/theatres/' + ${theatre.id}}"></a>
            </span>
        </h3>
        <a href="/user/list">Список пользователей</a><br>
        <a href="/manager/actors">Список актеров вашего театра</a><br>
    </div>
<!--МЕНЕДЖЕР-->
<!--АДМИН-->
    <div th:case="${T(com.nafanya.theatre.enums.Role).ADMIN}">
        <h2>ЗДАРОВА ЕПТА АДМИН)</h2>
        <a href="/user/list">Список пользователей</a>
    </div>
<!--АДМИН-->
    <!--ЮЗЕР, АКТЁР-->
    <div th:case="*">
        <div th:if="${role == T(com.nafanya.theatre.enums.Role).ACTOR}">
            <h2>ЗДАРОВА ЕПТА АКТЕР)</h2>
            <h3>
                Ваш театр: <span style="color: aquamarine">
                <a th:text="${theatre.name + ' ' + theatre.city + ' ' + theatre.address}" th:href="@{'/theatres/' + ${theatre.id}}"></a>
            </span>
            </h3>
        </div>
        <div th:if="${role == T(com.nafanya.theatre.enums.Role).USER}">
            <h2>ЗДАРОВА ЕПТА ЮЗЕР)</h2>
        </div>
    </div>
    <!--ЮЗЕР, АКТЁР-->
    <a href="#">Ваши билеты</a>
</div>
</body>
</html>